* text=auto !eol
BAT/BCAux.h -text
BAT/BCDataPoint.h -text
BAT/BCDataSet.h -text
BAT/BCEngineMCMC.h -text
BAT/BCErrorCodes.h -text
BAT/BCGoFTest.h -text
BAT/BCH1D.h -text
BAT/BCH2D.h -text
BAT/BCIntegrate.h -text
BAT/BCLog.h -text
BAT/BCMath.h -text
BAT/BCModel.h -text
BAT/BCModelManager.h -text
BAT/BCModelOutput.h -text
BAT/BCParameter.h -text
BAT/BCSummaryPriorModel.h -text
BAT/BCSummaryTool.h -text
/INSTALL -text
/Makefile.am -text
/README -text
/autogen.sh -text
benchmarks/PerfTestSuite/BATquantiles.nb -text
benchmarks/PerfTestSuite/Makefile -text
benchmarks/PerfTestSuite/include/PerfSubTest.h -text
benchmarks/PerfTestSuite/include/PerfTest.h -text
benchmarks/PerfTestSuite/include/PerfTest1DFunction.h -text
benchmarks/PerfTestSuite/include/PerfTest2DFunction.h -text
benchmarks/PerfTestSuite/include/PerfTestMCMC.h -text
benchmarks/PerfTestSuite/include/PerfTestVarPar.h -text
benchmarks/PerfTestSuite/include/QuickTestSuite.h -text
benchmarks/PerfTestSuite/include/ReleaseTestSuite.h -text
benchmarks/PerfTestSuite/include/TestSuite.h -text
benchmarks/PerfTestSuite/runTestSuite.cxx -text
benchmarks/PerfTestSuite/setup.sh -text
benchmarks/PerfTestSuite/src/PerfSubTest.cxx -text
benchmarks/PerfTestSuite/src/PerfTest.cxx -text
benchmarks/PerfTestSuite/src/PerfTest1DFunction.cxx -text
benchmarks/PerfTestSuite/src/PerfTest2DFunction.cxx -text
benchmarks/PerfTestSuite/src/PerfTestMCMC.cxx -text
benchmarks/PerfTestSuite/src/PerfTestVarPar.cxx -text
benchmarks/PerfTestSuite/src/QuickTestSuite.cxx -text
benchmarks/PerfTestSuite/src/ReleaseTestSuite.cxx -text
benchmarks/PerfTestSuite/src/TestSuite.cxx -text
benchmarks/example05/CreateData.c -text
benchmarks/example05/Makefile -text
benchmarks/example05/runBAT.c -text
benchmarks/example05/src/BCModelParticleDecay.cxx -text
benchmarks/example05/src/BCModelParticleDecay.h -text
benchmarks/example06/Makefile -text
benchmarks/example06/runBAT.c -text
benchmarks/example06/src/BCModelTop.cxx -text
benchmarks/example06/src/BCModelTop.h -text
benchmarks/integration/Makefile -text
benchmarks/integration/benchmark.c -text
benchmarks/integration/src/BCModelGauss.cxx -text
benchmarks/integration/src/BCModelGauss.h -text
benchmarks/marginalization/Makefile -text
benchmarks/marginalization/benchmark.c -text
benchmarks/marginalization/src/BCModelGauss.cxx -text
benchmarks/marginalization/src/BCModelGauss.h -text
benchmarks/mcmc/Makefile -text
benchmarks/mcmc/benchmark.cxx -text
benchmarks/mcmc/src/BCBenchmarkMCMC.cxx -text
benchmarks/mcmc/src/BCBenchmarkMCMC.h -text
benchmarks/mcmc/src/BCBenchmarkMCMC2D.cxx -text
benchmarks/mcmc/src/BCBenchmarkMCMC2D.h -text
benchmarks/mcmc/src/BCBenchmarkMCMC3D.cxx -text
benchmarks/mcmc/src/BCBenchmarkMCMC3D.h -text
/configure.ac -text
doc/COPYING -text
doc/CREDITS -text
doc/ChangeLog -text
doc/LICENSE -text
doc/introduction/Makefile -text
doc/introduction/bat.eps -text
doc/introduction/introduction.tex -text
doc/manual/bat.eps -text
doc/manual/example01_constant.eps -text
doc/manual/example01_correlation.eps -text
doc/manual/example01_data.eps -text
doc/manual/manual.tex -text
doc/manual/scheme.eps -text
doc/note_template/doit.sh -text
doc/note_template/fig/data.ps -text
doc/note_template/fig/lambda_fminus_vs_fbkg.eps -text
doc/note_template/fig/lambda_fminus_vs_fbkg.ps -text
doc/note_template/fig/lambda_fplus.eps -text
doc/note_template/fig/lambda_fplus.ps -text
doc/note_template/fig/log.txt -text
doc/note_template/fig/model_correlation.eps -text
doc/note_template/fig/model_fraction.ps -text
doc/note_template/fig/model_marginalized.eps -text
doc/note_template/fig/model_parameters.eps -text
doc/note_template/fig/model_results.txt -text
doc/note_template/fig/model_stack.eps -text
doc/note_template/fig/model_update.eps -text
doc/note_template/note.tex -text
doc/releasenotes.txt -text
doc/todo/todo.txt -text
examples/README -text
examples/advanced/advancedGraphFitter/data/datax.txt -text
examples/advanced/advancedGraphFitter/graphFitterAdvancedExample.C -text
examples/advanced/polynomialfit/CreateData.C -text
examples/advanced/polynomialfit/Makefile -text
examples/advanced/polynomialfit/Pol1Asymm.cxx -text
examples/advanced/polynomialfit/Pol1Asymm.h -text
examples/advanced/polynomialfit/Pol2Asymm.cxx -text
examples/advanced/polynomialfit/Pol2Asymm.h -text
examples/advanced/polynomialfit/README -text
examples/advanced/polynomialfit/asymmErrorsFitterExample.cxx -text
examples/advanced/roointerface/Makefile -text
examples/advanced/roointerface/PrepareWorkspace_GaussOverFlat.C -text
examples/advanced/roointerface/PrepareWorkspace_GaussOverFlat_withSystematics.C -text
examples/advanced/roointerface/PrepareWorkspace_Poisson.C -text
examples/advanced/roointerface/PrepareWorkspace_Poisson_withSystematics.C -text
examples/advanced/roointerface/README -text
examples/advanced/roointerface/runRooInterface.cxx -text
examples/advanced/templatefitter/0nubb/CreateHistograms.C -text
examples/advanced/templatefitter/0nubb/Makefile -text
examples/advanced/templatefitter/0nubb/README -text
examples/advanced/templatefitter/0nubb/runEnsembleTest.cxx -text
examples/advanced/templatefitter/0nubb/runTemplateFit.cxx -text
examples/advanced/templatefitter/README -text
examples/advanced/templatefitter/Whel/CreateHistograms.C -text
examples/advanced/templatefitter/Whel/README -text
examples/advanced/templatefitter/Whel/ensembletest.C -text
examples/advanced/templatefitter/Whel/templatefit.C -text
examples/advanced/templatefitter/hypothesis/Makefile -text
examples/advanced/templatefitter/hypothesis/README -text
examples/advanced/templatefitter/hypothesis/histograms.root -text
examples/advanced/templatefitter/hypothesis/runHypothesisTest.cxx -text
examples/basic/binomial/BinomialModel.cxx -text
examples/basic/binomial/BinomialModel.h -text
examples/basic/binomial/Makefile -text
examples/basic/binomial/README -text
examples/basic/binomial/runEfficiency.cxx -text
examples/basic/combination1d/CombinationModel.cxx -text
examples/basic/combination1d/CombinationModel.h -text
examples/basic/combination1d/Makefile -text
examples/basic/combination1d/README -text
examples/basic/combination1d/runCombineGaussians.cxx -text
examples/basic/combination2d/CombinationModel.cxx -text
examples/basic/combination2d/CombinationModel.h -text
examples/basic/combination2d/Makefile -text
examples/basic/combination2d/README -text
examples/basic/combination2d/runCombineGaussians.cxx -text
examples/basic/efficiencyFitter/efficiencyFitterExample.C -text
examples/basic/errorpropagation/Makefile -text
examples/basic/errorpropagation/README -text
examples/basic/errorpropagation/RatioModel.cxx -text
examples/basic/errorpropagation/RatioModel.h -text
examples/basic/errorpropagation/runErrorPropagation.cxx -text
examples/basic/graphFitter/graphFitterSimpleExample.C -text
examples/basic/histogramFitter/histogramFitterExample.C -text
examples/basic/poisson/Makefile -text
examples/basic/poisson/PoissonModel.cxx -text
examples/basic/poisson/PoissonModel.h -text
examples/basic/poisson/README -text
examples/basic/poisson/runPoissonCounting.cxx -text
examples/fastfitter/README -text
extras/BinLikeTool/BinLikeModel.cxx -text
extras/BinLikeTool/BinLikeModel.h -text
extras/BinLikeTool/CreateFitModel.sh -text
extras/BinLikeTool/Makefile -text
extras/BinLikeTool/README -text
extras/BinLikeTool/TemplateFit/CreateHistograms.cxx -text
extras/BinLikeTool/TemplateFit/Makefile -text
extras/BinLikeTool/TemplateFit/TemplateFit.cxx -text
extras/BinLikeTool/TemplateFit/TemplateFit.h -text
extras/BinLikeTool/TemplateFit/runTemplateFit.cxx -text
extras/BinLikeTool/setup.sh -text
extras/CombinationTool/CombinationModel.cxx -text
extras/CombinationTool/CombinationModel.h -text
extras/CombinationTool/CombinationXSec.cxx -text
extras/CombinationTool/CombinationXSec.h -text
extras/CombinationTool/Doxyfile -text
extras/CombinationTool/Makefile -text
extras/CombinationTool/ParameterSummary.cxx -text
extras/CombinationTool/ParameterSummary.h -text
extras/CombinationTool/method.tex -text
extras/CombinationTool/runCombination.cxx -text
extras/CombinationTool/runCombinationExamples.cxx -text
extras/CombinationTool/runCombinationXSec.cxx -text
extras/CombinationTool/test_poisson.cxx -text
extras/README -text
models/BATCalculator.cxx -text
models/BATCalculator.h -text
models/BATCalculatorLinkDef.h -text
models/BCEfficiencyFitter.cxx -text
models/BCEfficiencyFitter.h -text
models/BCGraphFitter.cxx -text
models/BCGraphFitter.h -text
models/BCHistogramFitter.cxx -text
models/BCHistogramFitter.h -text
models/BCRooInterface.cxx -text
models/BCRooInterface.h -text
models/BCRooInterface.rootmap -text
models/BCTemplateEnsembleTest.cxx -text
models/BCTemplateEnsembleTest.h -text
models/BCTemplateFitter.cxx -text
models/BCTemplateFitter.h -text
models/Makefile.am -text
models/libBATmodels.rootmap.in -text
/readme.devel -text
src/BCAux.cxx -text
src/BCDataPoint.cxx -text
src/BCDataSet.cxx -text
src/BCEngineMCMC.cxx -text
src/BCGoFTest.cxx -text
src/BCH1D.cxx -text
src/BCH2D.cxx -text
src/BCIntegrate.cxx -text
src/BCLog.cxx -text
src/BCMath.cxx -text
src/BCModel.cxx -text
src/BCModelManager.cxx -text
src/BCModelOutput.cxx -text
src/BCParameter.cxx -text
src/BCSummaryPriorModel.cxx -text
src/BCSummaryTool.cxx -text
src/Makefile.am -text
src/libBAT.rootmap -text
tools/CreateProject.sh.in -text
tools/analyzeMCMC/Makefile -text
tools/analyzeMCMC/analyzeMCMC.c -text
tools/build/root.m4 -text
tools/map_solibs.sh -text
tools/release/Makefile -text
tools/release/README -text
tools/release/removeCVS.sh -text
tools/setup.sh -text
