# Autotools
aclocal.m4
*.cache
config/
config.*
configure
.deps/
depcomp
*.in
install-sh
libtool
*LinkDef.h
*.d
*.log
ltmain.sh
Makefile
missing
stamp-h1
*.status

# ROOT
*Dict.h
*Dict.cxx
*.rootmap

# Results
*.[oa]
CreateProject.sh
*.l[oa]
*.libs/
*.so

# Documentation
doc/introduction/*
!doc/introduction/introduction.tex

# Editors
.autotools
*.*project
.settings/org.eclipse*
*~

# Example outputs
*.pdf
*.root
results.txt
log.txt
!models/mvc/aclocal.m4
!models/mvc/*.cache
!models/mvc/config
!models/mvc/config.*
!models/mvc/configure
!models/mvc/.deps
!models/mvc/depcomp
!models/mvc/*.in
!models/mvc/install-sh
!models/mvc/libtool
!models/mvc/*LinkDef.h
!models/mvc/link.d
!models/mvc/*.log
!models/mvc/ltmain.sh
!models/mvc/Makefile
!models/mvc/missing
!models/mvc/stamp-h1
!models/mvc/*.status
!models/mvc/*Dict.h
!models/mvc/*Dict.cxx
!models/mvc/*.rootmap
!models/mvc/*.[oa]
!models/mvc/CreateProject.sh
!models/mvc/*.l[oa]
!models/mvc/*.libs
!models/mvc/*.so
!models/mvc/.autotools
!models/mvc/*.*project
!models/mvc/*~
!models/mvc/.directory
