# Autotools
aclocal.m4
*.cache
compile
config/
config.*
configure
.deps/
depcomp
install-sh
libtool
*.d
*.log
ltmain.sh
Makefile
/Makefile.in
/test/Makefile.in
/models/base/Makefile.in
/models/mtf/Makefile.in
/src/Makefile.in
missing
stamp-h1
*.status
/test-driver

/examples/Makefile.in
/examples/*/Makefile.in
/examples/*/*/Makefile.in
/examples/*/*/*/Makefile.in

# separate build subdirectory
build*/

# ROOT
*_rdict.*
*.rootmap
models/base/LinkDef.h
*Dict.h
*Dict.cxx

# Results
*.[oa]
bat-project
*.l[oa]
*.libs
*.Plo
*.so
.includes

# build support
bat.pc
bat-config
test-env.sh
tools/MakefileTemplate

# Documentation
doc/introduction/introduction.*
doc/introduction/versions.tex
!doc/introduction/Makefile
!doc/quickstart/Makefile
*.el
*.aux
doc/ref-guide/

# Editors
.autotools
*.*project
.settings/org.eclipse*
*~

# plots
*.pdf
###
# Examples, see examples/.gitignore
###

###
# Tests
###

# Performance tests
*.html
*.php
*.png
*.tst
runTestSuite

# unit tests
*_TEST
*.TEST
*.trs
log.txt

# local cuba directory
/external/cuba-*
/doc/introduction/new-intro.out
/doc/introduction/new-intro.tdo
/doc/introduction/new-intro.toc
