# Autotools
aclocal.m4
*.cache
config/
config.*
configure
.deps/
depcomp
*.in
install-sh
libtool
*LinkDef.h
*.d
*.log
ltmain.sh
Makefile
missing
stamp-h1
*.status

# ROOT
*Dict.h
*Dict.cxx
*.rootmap

# Results
*.[oa]
CreateProject.sh
*.l[oa]
*.libs
*.Plo
*.so

# Documentation
doc/introduction/*
!doc/introduction/introduction.tex

# Editors
.autotools
*.*project
.settings/org.eclipse*
*~

# Example outputs
*.pdf
*.root
results.txt
log.txt
private/examples/advanced/mvcombination/*.png
private/examples/advanced/mvcombination/*_results.txt
private/examples/advanced/mvcombination/*log.txt
private/examples/advanced/mvcombination/asymmErrorsFitterExample
private/examples/advanced/mvcombination/ensembletest
private/examples/advanced/mvcombination/runAnomCouplings
private/examples/advanced/mvcombination/runCombineGaussians
private/examples/advanced/mvcombination/runEfficiency
private/examples/advanced/mvcombination/runErrorPropagation
private/examples/advanced/mvcombination/runMVCombination
private/examples/advanced/mvcombination/runMyCombination
private/examples/advanced/mvcombination/runMyFit
private/examples/advanced/mvcombination/runPoissonCounting
private/examples/advanced/mvcombination/runReferenceCounting
private/examples/advanced/mvcombination/runRooInterface
private/examples/advanced/mvcombination/runRootOutput
private/examples/advanced/mvcombination/runSystematics
private/examples/advanced/mvcombination/runTrialFunction
private/examples/advanced/mvcombination/sensitivity
private/examples/advanced/mvcombination/templatefit
!private/examples/advanced/aclocal.m4
!private/examples/advanced/*.cache
!private/examples/advanced/config
!private/examples/advanced/config.*
!private/examples/advanced/configure
!private/examples/advanced/.deps
!private/examples/advanced/depcomp
!private/examples/advanced/*.in
!private/examples/advanced/install-sh
!private/examples/advanced/libtool
!private/examples/advanced/*LinkDef.h
!private/examples/advanced/*.d
!private/examples/advanced/*.log
!private/examples/advanced/ltmain.sh
!private/examples/advanced/Makefile
!private/examples/advanced/missing
!private/examples/advanced/stamp-h1
!private/examples/advanced/*.status
!private/examples/advanced/*Dict.h
!private/examples/advanced/*Dict.cxx
!private/examples/advanced/*.rootmap
!private/examples/advanced/*.[oa]
!private/examples/advanced/CreateProject.sh
!private/examples/advanced/*.l[oa]
!private/examples/advanced/*.libs
!private/examples/advanced/*.Plo
!private/examples/advanced/*.so
!private/examples/advanced/.autotools
!private/examples/advanced/*.*project
!private/examples/advanced/*~
!private/examples/advanced/*.pdf
!private/examples/advanced/*.root
!private/examples/advanced/results.txt
!private/examples/advanced/log.txt
!private/examples/aclocal.m4
!private/examples/*.cache
!private/examples/config
!private/examples/config.*
!private/examples/configure
!private/examples/.deps
!private/examples/depcomp
!private/examples/*.in
!private/examples/install-sh
!private/examples/libtool
!private/examples/*LinkDef.h
!private/examples/*.d
!private/examples/*.log
!private/examples/ltmain.sh
!private/examples/Makefile
!private/examples/missing
!private/examples/stamp-h1
!private/examples/*.status
!private/examples/*Dict.h
!private/examples/*Dict.cxx
!private/examples/*.rootmap
!private/examples/*.[oa]
!private/examples/CreateProject.sh
!private/examples/*.l[oa]
!private/examples/*.libs
!private/examples/*.Plo
!private/examples/*.so
!private/examples/.autotools
!private/examples/*.*project
!private/examples/*~
!private/examples/*.pdf
!private/examples/*.root
!private/examples/results.txt
!private/examples/log.txt
!private/aclocal.m4
!private/*.cache
!private/config
!private/config.*
!private/configure
!private/.deps
!private/depcomp
!private/*.in
!private/install-sh
!private/libtool
!private/*LinkDef.h
!private/*.d
!private/*.log
!private/ltmain.sh
!private/Makefile
!private/missing
!private/stamp-h1
!private/*.status
!private/*Dict.h
!private/*Dict.cxx
!private/*.rootmap
!private/*.[oa]
!private/CreateProject.sh
!private/*.l[oa]
!private/*.libs
!private/*.Plo
!private/*.so
!private/.autotools
!private/*.*project
!private/*~
!private/*.pdf
!private/*.root
!private/results.txt
!private/log.txt
!private/extras/FBU/obj/aclocal.m4
!private/extras/FBU/obj/*.cache
!private/extras/FBU/obj/config
!private/extras/FBU/obj/config.*
!private/extras/FBU/obj/configure
!private/extras/FBU/obj/.deps
!private/extras/FBU/obj/depcomp
!private/extras/FBU/obj/*.in
!private/extras/FBU/obj/install-sh
!private/extras/FBU/obj/libtool
!private/extras/FBU/obj/*LinkDef.h
!private/extras/FBU/obj/*.d
!private/extras/FBU/obj/*.log
!private/extras/FBU/obj/ltmain.sh
!private/extras/FBU/obj/Makefile
!private/extras/FBU/obj/missing
!private/extras/FBU/obj/stamp-h1
!private/extras/FBU/obj/*.status
!private/extras/FBU/obj/*Dict.h
!private/extras/FBU/obj/*Dict.cxx
!private/extras/FBU/obj/*.rootmap
!private/extras/FBU/obj/*.[oa]
!private/extras/FBU/obj/CreateProject.sh
!private/extras/FBU/obj/*.l[oa]
!private/extras/FBU/obj/*.libs
!private/extras/FBU/obj/*.Plo
!private/extras/FBU/obj/*.so
!private/extras/FBU/obj/.autotools
!private/extras/FBU/obj/*.*project
!private/extras/FBU/obj/*~
!private/extras/FBU/obj/*.pdf
!private/extras/FBU/obj/*.root
!private/extras/FBU/obj/results.txt
!private/extras/FBU/obj/log.txt
!private/extras/FBU/doc/aclocal.m4
!private/extras/FBU/doc/*.cache
!private/extras/FBU/doc/config
!private/extras/FBU/doc/config.*
!private/extras/FBU/doc/configure
!private/extras/FBU/doc/.deps
!private/extras/FBU/doc/depcomp
!private/extras/FBU/doc/*.in
!private/extras/FBU/doc/install-sh
!private/extras/FBU/doc/libtool
!private/extras/FBU/doc/*LinkDef.h
!private/extras/FBU/doc/*.d
!private/extras/FBU/doc/*.log
!private/extras/FBU/doc/ltmain.sh
!private/extras/FBU/doc/Makefile
!private/extras/FBU/doc/missing
!private/extras/FBU/doc/stamp-h1
!private/extras/FBU/doc/*.status
!private/extras/FBU/doc/*Dict.h
!private/extras/FBU/doc/*Dict.cxx
!private/extras/FBU/doc/*.rootmap
!private/extras/FBU/doc/*.[oa]
!private/extras/FBU/doc/CreateProject.sh
!private/extras/FBU/doc/*.l[oa]
!private/extras/FBU/doc/*.libs
!private/extras/FBU/doc/*.Plo
!private/extras/FBU/doc/*.so
!private/extras/FBU/doc/.autotools
!private/extras/FBU/doc/*.*project
!private/extras/FBU/doc/*~
!private/extras/FBU/doc/*.pdf
!private/extras/FBU/doc/*.root
!private/extras/FBU/doc/results.txt
!private/extras/FBU/doc/log.txt
!private/doc/aclocal.m4
!private/doc/*.cache
!private/doc/config
!private/doc/config.*
!private/doc/configure
!private/doc/.deps
!private/doc/depcomp
!private/doc/*.in
!private/doc/install-sh
!private/doc/libtool
!private/doc/*LinkDef.h
!private/doc/*.d
!private/doc/*.log
!private/doc/ltmain.sh
!private/doc/Makefile
!private/doc/missing
!private/doc/stamp-h1
!private/doc/*.status
!private/doc/*Dict.h
!private/doc/*Dict.cxx
!private/doc/*.rootmap
!private/doc/*.[oa]
!private/doc/CreateProject.sh
!private/doc/*.l[oa]
!private/doc/*.libs
!private/doc/*.Plo
!private/doc/*.so
!private/doc/.autotools
!private/doc/*.*project
!private/doc/*~
!private/doc/*.pdf
!private/doc/*.root
!private/doc/results.txt
!private/doc/log.txt
!private/tools/aclocal.m4
!private/tools/*.cache
!private/tools/config
!private/tools/config.*
!private/tools/configure
!private/tools/.deps
!private/tools/depcomp
!private/tools/*.in
!private/tools/install-sh
!private/tools/libtool
!private/tools/*LinkDef.h
!private/tools/*.d
!private/tools/*.log
!private/tools/ltmain.sh
!private/tools/Makefile
!private/tools/missing
!private/tools/stamp-h1
!private/tools/*.status
!private/tools/*Dict.h
!private/tools/*Dict.cxx
!private/tools/*.rootmap
!private/tools/*.[oa]
!private/tools/CreateProject.sh
!private/tools/*.l[oa]
!private/tools/*.libs
!private/tools/*.Plo
!private/tools/*.so
!private/tools/.autotools
!private/tools/*.*project
!private/tools/*~
!private/tools/*.pdf
!private/tools/*.root
!private/tools/results.txt
!private/tools/log.txt
!private/tools/PostProcessing/aclocal.m4
!private/tools/PostProcessing/*.cache
!private/tools/PostProcessing/config
!private/tools/PostProcessing/config.*
!private/tools/PostProcessing/configure
!private/tools/PostProcessing/.deps
!private/tools/PostProcessing/depcomp
!private/tools/PostProcessing/*.in
!private/tools/PostProcessing/install-sh
!private/tools/PostProcessing/libtool
!private/tools/PostProcessing/*LinkDef.h
!private/tools/PostProcessing/*.d
!private/tools/PostProcessing/*.log
!private/tools/PostProcessing/ltmain.sh
!private/tools/PostProcessing/Makefile
!private/tools/PostProcessing/missing
!private/tools/PostProcessing/stamp-h1
!private/tools/PostProcessing/*.status
!private/tools/PostProcessing/*Dict.h
!private/tools/PostProcessing/*Dict.cxx
!private/tools/PostProcessing/*.rootmap
!private/tools/PostProcessing/*.[oa]
!private/tools/PostProcessing/CreateProject.sh
!private/tools/PostProcessing/*.l[oa]
!private/tools/PostProcessing/*.libs
!private/tools/PostProcessing/*.Plo
!private/tools/PostProcessing/*.so
!private/tools/PostProcessing/.autotools
!private/tools/PostProcessing/*.*project
!private/tools/PostProcessing/*~
!private/tools/PostProcessing/*.pdf
!private/tools/PostProcessing/*.root
!private/tools/PostProcessing/results.txt
!private/tools/PostProcessing/log.txt
