* text=auto !eol
/Makefile -text
benchmarks/example05/CreateData.c -text
benchmarks/example05/Makefile -text
benchmarks/example05/runBAT.c -text
benchmarks/example05/src/BCModelParticleDecay.cxx -text
benchmarks/example05/src/BCModelParticleDecay.h -text
benchmarks/example06/Makefile -text
benchmarks/example06/runBAT.c -text
benchmarks/example06/src/BCModelTop.cxx -text
benchmarks/example06/src/BCModelTop.h -text
benchmarks/integration/Makefile -text
benchmarks/integration/benchmark.c -text
benchmarks/integration/src/BCModelGauss.cxx -text
benchmarks/integration/src/BCModelGauss.h -text
benchmarks/marginalization/Makefile -text
benchmarks/marginalization/benchmark.c -text
benchmarks/marginalization/src/BCModelGauss.cxx -text
benchmarks/marginalization/src/BCModelGauss.h -text
/cuba.h -text
development/BCEngineMCMC.cxx -text
development/BCEngineMCMC.h -text
development/Makefile -text
development/runengine.c -text
doc/COPYING -text
doc/INSTALL -text
doc/LICENSE -text
doc/README -text
doc/changelog -text
doc/introduction/bat.eps -text
doc/introduction/introduction.tex -text
doc/manual/bat.eps -text
doc/manual/example01_constant.eps -text
doc/manual/example01_correlation.eps -text
doc/manual/example01_data.eps -text
doc/manual/manual.tex -text
doc/manual/scheme.eps -text
doc/releasenotes.txt -text
examples/README -text
examples/example01/CreateData.c -text
examples/example01/Makefile -text
examples/example01/output/fit_benchmark.ps -text
examples/example01/output/log_benchmark.txt -text
examples/example01/output/plots_benchmark.ps -text
examples/example01/output/summary_benchmark.txt -text
examples/example01/runBATexample01.c -text
examples/example01/src/BCModelPol1.cxx -text
examples/example01/src/BCModelPol1.h -text
examples/example02/CreateData.c -text
examples/example02/Makefile -text
examples/example02/output/ModelPol0_benchmark.txt -text
examples/example02/output/ModelPol1_benchmark.txt -text
examples/example02/output/ModelPol2_benchmark.txt -text
examples/example02/output/data_allmodels_benchmark.ps -text
examples/example02/output/data_bestfit_benchmark.ps -text
examples/example02/output/log_benchmark.txt -text
examples/example02/runBATexample02.c -text
examples/example02/src/BCModelPol0.cxx -text
examples/example02/src/BCModelPol0.h -text
examples/example02/src/BCModelPol1.cxx -text
examples/example02/src/BCModelPol1.h -text
examples/example02/src/BCModelPol2.cxx -text
examples/example02/src/BCModelPol2.h -text
examples/example03/CreateData.c -text
examples/example03/DisplayData.c -text
examples/example03/Makefile -text
examples/example03/output/data_benchmark.ps -text
examples/example03/output/data_bestfit_benchmark.ps -text
examples/example03/output/log_benchmark.txt -text
examples/example03/output/plots_background_benchmark.ps -text
examples/example03/output/plots_signal_benchmark.ps -text
examples/example03/output/summary_benchmark.txt -text
examples/example03/runBATexample03.c -text
examples/example03/src/BCModelBackground.cxx -text
examples/example03/src/BCModelBackground.h -text
examples/example03/src/BCModelSignal.cxx -text
examples/example03/src/BCModelSignal.h -text
examples/example04/Makefile -text
examples/example04/data/data.txt -text
examples/example04/output/log_benchmark.txt -text
examples/example04/output/plots_benchmark.ps -text
examples/example04/output/summary_benchmark.txt -text
examples/example04/runBATexample04.c -text
examples/example04/src/BCModelEfficiency.cxx -text
examples/example04/src/BCModelEfficiency.h -text
include/BCDataPoint.h -text
include/BCDataSet.h -text
include/BCEngineMCMC.h -text
include/BCErrorCodes.h -text
include/BCH1D.h -text
include/BCH2D.h -text
include/BCIntegrate.h -text
include/BCLog.h -text
include/BCMath.h -text
include/BCModel.h -text
include/BCModelManager.h -text
include/BCModelOutput.h -text
include/BCModelTest.h -text
include/BCParameter.h -text
include/BCReleaseVersion.h -text
include/style.c -text
src/BCDataPoint.cxx -text
src/BCDataSet.cxx -text
src/BCEngineMCMC.cxx -text
src/BCH1D.cxx -text
src/BCH2D.cxx -text
src/BCIntegrate.cxx -text
src/BCLog.cxx -text
src/BCMath.cxx -text
src/BCModel.cxx -text
src/BCModelManager.cxx -text
src/BCModelOutput.cxx -text
src/BCModelTest.cxx -text
src/BCParameter.cxx -text
tools/analyzeMCMC/Makefile -text
tools/analyzeMCMC/analyzeMCMC.c -text
tools/mkmodelclass.sh -text
tools/release/Makefile -text
tools/release/README -text
tools/release/removeCVS.sh -text
tools/setup.sh -text
