# Binaries
asymmErrorsFitterExample
ensembletest
runAnomCouplings
runCombineGaussians
runEfficiency
runErrorPropagation
runMVCombination
runMyCombination
runMyFit
runPoissonCounting
runReferenceCounting
runRooInterface
runRootOutput
runSystematics
runTrialFunction
sensitivity
templatefit

# Example output
*log.txt
*_results.txt
*.pdf
*.png
