# Binaries
runCombineGaussians
runPoissonCounting

# Example output
log.txt
*_results.txt
*.pdf
*.png



!advanced/referencecounting/aclocal.m4
!advanced/referencecounting/*.cache
!advanced/referencecounting/config
!advanced/referencecounting/config.*
!advanced/referencecounting/configure
!advanced/referencecounting/.deps
!advanced/referencecounting/depcomp
!advanced/referencecounting/*.in
!advanced/referencecounting/install-sh
!advanced/referencecounting/libtool
!advanced/referencecounting/*LinkDef.h
!advanced/referencecounting/link.d
!advanced/referencecounting/*.log
!advanced/referencecounting/ltmain.sh
!advanced/referencecounting/Makefile
!advanced/referencecounting/missing
!advanced/referencecounting/stamp-h1
!advanced/referencecounting/*.status
!advanced/referencecounting/*Dict.h
!advanced/referencecounting/*Dict.cxx
!advanced/referencecounting/*.rootmap
!advanced/referencecounting/*.[oa]
!advanced/referencecounting/CreateProject.sh
!advanced/referencecounting/*.l[oa]
!advanced/referencecounting/*.libs
!advanced/referencecounting/*.so
!advanced/referencecounting/.autotools
!advanced/referencecounting/*.*project
!advanced/referencecounting/*~
!advanced/referencecounting/.directory
!advanced/referencecounting/runCombineGaussians
!advanced/referencecounting/runPoissonCounting
!advanced/referencecounting/log.txt
!advanced/referencecounting/*_results.txt
!advanced/referencecounting/*.pdf
!advanced/referencecounting/*.png
!advanced/mtf/mcstat/aclocal.m4
!advanced/mtf/mcstat/*.cache
!advanced/mtf/mcstat/config
!advanced/mtf/mcstat/config.*
!advanced/mtf/mcstat/configure
!advanced/mtf/mcstat/.deps
!advanced/mtf/mcstat/depcomp
!advanced/mtf/mcstat/*.in
!advanced/mtf/mcstat/install-sh
!advanced/mtf/mcstat/libtool
!advanced/mtf/mcstat/*LinkDef.h
!advanced/mtf/mcstat/link.d
!advanced/mtf/mcstat/*.log
!advanced/mtf/mcstat/ltmain.sh
!advanced/mtf/mcstat/Makefile
!advanced/mtf/mcstat/missing
!advanced/mtf/mcstat/stamp-h1
!advanced/mtf/mcstat/*.status
!advanced/mtf/mcstat/*Dict.h
!advanced/mtf/mcstat/*Dict.cxx
!advanced/mtf/mcstat/*.rootmap
!advanced/mtf/mcstat/*.[oa]
!advanced/mtf/mcstat/CreateProject.sh
!advanced/mtf/mcstat/*.l[oa]
!advanced/mtf/mcstat/*.libs
!advanced/mtf/mcstat/*.so
!advanced/mtf/mcstat/.autotools
!advanced/mtf/mcstat/*.*project
!advanced/mtf/mcstat/*~
!advanced/mtf/mcstat/.directory
!advanced/mtf/mcstat/runCombineGaussians
!advanced/mtf/mcstat/runPoissonCounting
!advanced/mtf/mcstat/log.txt
!advanced/mtf/mcstat/*_results.txt
!advanced/mtf/mcstat/*.pdf
!advanced/mtf/mcstat/*.png
